---
import Layout from "../layouts/Layout.astro";
import Cabecalho from '../components/Cabecalho.astro';
import Hero from '../components/Hero.astro';
import Sobre from '../components/Sobre.astro';
import Vitrine from '../components/Vitrine.astro';
import CtaClube from '../components/CtaClube.astro';
import DicasTrilhas from '../components/DicasTrilhas.astro';
import CtaEmail from '../components/CtaEmail.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Cabecalho />

  <main>
    <Hero />
    <Sobre />
    <CtaClube />
    <Vitrine />
    <DicasTrilhas />
    <CtaEmail />

    <section class="instagram-feed">
      <h2 class="titulo-instagram">Siga no Instagram</h2>
      <script src="https://elfsightcdn.com/platform.js" async></script>
      <div class="elfsight-app-0b941844-e24f-44ff-9110-dd6afd0c5ade" data-elfsight-app-lazy></div>
    </section>
  </main>

  <Footer />
</Layout>
