<header class="cabecalho">
  <div class="logo">
    <img src="/imagens/Logo.png" alt="Logo Site-Trilhamos" />
    <h1>Trilhamos</h1>
  </div>
  <nav>
    <ul>
      <li><a href="#">Início</a></li>
      <li><a href="#sobre">Sobre</a></li>
      <li>
        <a href="mailto:trilhamos@gmail.com?subject=Contato via Site Trilhamos">
        <i class="fas fa-envelope"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>