<section id="cta-clube" class="cta-clube">
  <div class="cta-conteudo">
    <h2>Qual será sua próxima aventura?</h2>
    <p>
      Entre para o Clube Trilhamos no Telegram e no Strava e descubra novas trilhas, troque experiências e faça parte da nossa comunidade.
    </p>
    <div class="cta-botoes">
      <a href="https://t.me/+6ZzHRqsazIo2YjJh" target="_blank" class="botao">Entrar no Clube Trilhamos Telegram</a>
      <a href="https://strava.app.link/SjcSYXRwWb" target="_blank" class="botao secundario">Entrar no Clube Trilhamos Strava</a>
    </div>
  </div>
</section>