<section id="trilhas" class="dicas-trilhas">
  <div class="dicas-header">
    <h2 class="titulo-dicas">Dicas de Trilhas</h2>
  </div>

  <div class="dicas-grid">
    <div class="dica">
      <img src="/imagens/pico-marins.png" alt="Pico dos Marins" />
      <div class="texto">

      <h3>O PICO DOS MARINS</h3>
      <p>
        O Pico dos Marins, localizado em Serra da Mantiqueira, entre os estados de São Paulo e Minas Gerais, é um dos destinos mais procurados por montanhistas e amantes da natureza. Com 2.420 metros de altitude, oferece uma vista panorâmica impressionante e é conhecido por seu terreno acidentado, que exige preparo físico e atenção dos aventureiros. A trilha até o cume é desafiadora, mas recompensadora, passando por áreas de mata, campos de altitude e formações rochosas. A região também é rica em biodiversidade, com diversas espécies de fauna e flora típicas da Mata Atlântica. Para os amantes do trekking, o Pico dos Marins é uma experiência única, combinando esforço físico, contato com a natureza e a sensação de conquista ao alcançar o topo.
      </p>
    </div>
  </div>

  <div class="dica">
    <img src="/imagens/pico-agulhas.jpg" alt="Pico das Agulhas Negras" />
    <div class="texto">
      <h3>O PICO DAS AGULHAS NEGRAS</h3>
      <p>
        O Pico das Agulhas Negras, situado no Parque Nacional de Itatiaia, entre os estados do Rio de Janeiro e Minas Gerais, é um dos pontos mais altos do Brasil, com 2.791 metros de altitude. Seu nome se deve às formações rochosas escuras e pontiagudas que caracterizam o cume, lembrando agulhas. A trilha até o topo é considerada técnica, exigindo equipamentos adequados e, muitas vezes, a presença de guias experientes. O parque oferece uma infraestrutura básica para visitantes, com áreas de camping e trilhas sinalizadas. Além da beleza cênica, o local é um importante ponto de pesquisa científica e conservação ambiental, abrigando espécies endêmicas e ameaçadas. Para os montanhistas mais experientes, escalar o Pico das Agulhas Negras representa um desafio empolgante e uma oportunidade de explorar paisagens naturais únicas e impressionantes.
      </p>
    </div>
  </div>
</section>