<footer class="footer">
  <div class="footer-container">
    <p class="logo">Trilhamos</p>

    <nav class="footer-nav">
      <li><a href="#sobre">Sobre</a></li>
      <li><a href="#trilhas">Trilhas</a></li>
      <a href="mailto:trilhamos@gmail.com?subject=Contato via Site Trilhamos">Contato</a>
    </nav>

    <div class="footer-social">
      <a href="https://t.me/seuGrupoTelegram" target="_blank">Telegram</a>
      <a href="https://strava.app.link/SjcSYXRwWb" target="_blank">Strava</a>
    </div>

    <p class="footer-copy">©2025 Trilhamos. Todos os direitos reservados.</p>
  </div>
</footer>